@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kosugi Maru', Helvetica, sans-serif;
}

.btn{
    box-shadow: 4px 6px rgb(246, 126, 126);
  }
