

.InvoiceItem input {
    width: 100%;
}

.InvoiceItem input[type=number]{
margin: 0 auto;
width: 40%
}

.InvoiceItem p {
    text-align: center;
    vertical-align: middle;
    line-height: 2px;
}

