.seperatorDoc {
  border-bottom: 3px solid red;
}

.InvoiceDoc {
  width: 700px;
}

.InvoiceDocGrid {
  /* if width is changed it also needs to be changed in .InvoiceDocItems */
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.InvoiceDocItems {
  /* if width is changed it also needs to be changed in .InvoiceDocGrid */
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.InvoiceDoc p {
  text-align: right;
}
